.marquee {
  box-shadow: 0px 0px 10px #fff;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.marquee-1 {
  transform: rotate(3deg);
}

.marquee-2 {
  transform: rotate(-2deg);
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroll-left {
  animation-name: scroll-left;
}

.scroll-right {
  animation-name: scroll-right;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.m-text {
  flex-shrink: 0;
}