@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-black;
}

* {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}


@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slidel {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-slider {
  animation: slider 10s linear infinite;
}
.animate-slidel {
  animation: slidel 10s linear infinite;
}

html{
  scroll-behavior: smooth;
}